API_KEY = <your_firebase_api_key>
AUTH_DOMAIN = <your_firebase_auth_domain>
PROJ_ID = <your_firebase_project_id>
STORAGE_BUCKET = <your_firebase_storage_bucket>
MESSAGING = <your_firebase_messaging>
APP_ID = <your_firebase_app_id>
MEASUREMENT_ID = <your_firebase_meausurement_id>
