VITE_API_KEY = <your_firebase_api_key>
VITE_AUTH_DOMAIN = <your_firebase_auth_domain>
VITE_PROJ_ID = <your_firebase_project_id>
VITE_STORAGE_BUCKET = <your_firebase_storage_bucket>
VITE_MESSAGING = <your_firebase_messaging>
VITE_APP_ID = <your_firebase_app_id>
VITE_MEASUREMENT_ID = <your_firebase_meausurement_id>
